<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Blog</title>
</head>
<body>
    <p style="color:green">Hello, {% if user.is_authenticated %}{{ user.username }}.
        <a href="{% url 'logout' %}">Разлогиниться</a>
            {% else %}Anonymus. <a href="{% url 'login' %}">Залогиниться</a>{% endif %}
        <a href="{% url 'index' %}">На главную</a>
    </p>
    {% block auth %}
    {% endblock %}
    {% if user.is_authenticated %}
    <div class="layout">
        <div class="sidebar">
            <h2>Блоги</h2>
            {% for blog in blogs %}
            <div>{{ blog.title }}
                <form action="/subscribe/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{% if blog.author in subscribe_to %}unsubscribe{% else %}subscribe{% endif %}">
                    <input type="hidden" name="targed_blog" value="{{ blog.id }}">
                    <input type="hidden" name="redirect_to" value="{{ request.path }}">
                    <input type="submit" value="{% if blog.author in subscribe_to %}Отписаться{% else %}Подписаться{% endif %}">
                </form>
            </div>
       {% endfor %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% endif %}

  <style type="text/css">
   .header, .sidebar, .content, .footer {
    padding: 10px; /* Поля */
    border: solid 1px #000; /* Параметры рамки */
   }
   .header { /* Верхняя часть с заголовком */
    background: #e3e8cc; /* Цвет фона */
    font-size: 24px; /* Размер шрифта */
   }
   .layout {
    margin: 15px 0; /* Отступы сверху и снизу */
    overflow: hidden; /* Отменяем действие float */
    min-width: 800px; /* Минимальная ширина */
    max-width: 1200px; /* Максимальная ширина */
   }
   .sidebar { /* Навигация по сайту */
    width: 100px; /* Ширина меню */
    float: right; /* Состыковка с другим слоем по горизонтали */
   }
   .sidebar ul {
    list-style: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
   }
   .content { /* Основное содержание страницы */
    margin-right: 135px; /* Отступ слева */
   }
  </style>
</body>
</html>