{% extends 'mainapp/basic.html' %}

{% block content %}
{% for post in posts %}
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
        {% if user in post.readed.all %}<p>Прочитано</p>{% else %}
        <form action="/readpost/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="redirect_to" value="{{ request.path }}">
            <input type="submit" value="Прочитать">
        </form>{% endif %}
    </div>
{% endfor %}
{% endblock %}