{% extends 'mainapp/basic.html' %}

{% block auth %}
<form action="{% url 'login' %}?next={% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form>
<p>Пользователи: admin, user1, user2, user3</p>
<p>Пароль: test1test</p>
{% endblock %}